html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	background-color: var(--fond);
	position: relative;
	transition: all 0.5s;
}

.title {
	color: var(--ecriture) !important;
	z-index: 50;
}
p {
	color: var(--ecriture);
	margin: 15px;
}
.name {
	position: fixed;
	top: 15px;
	left: 15px;
}

.btn-toggle {
	position: fixed;
	top: 15px;
	right: 15px;
	cursor: pointer;
	z-index: 10;
	color: var(--ecriture);
	padding: 5px;
	border: inset 2px var(--ecriture);
	border-radius: 50%;
}
.hamburger1 {
	z-index: 50;
}
.hamburger {
	position: fixed;
	top: 16px;
	right: 65px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	transition: 0.5s;
	width: 30px;
	height: 30px;
	padding: 5px;
}
.hamburger span {
	height: 1px;
	width: 20px;
	background-color: var(--ecriture);
	transition: 0.5s;
}
.hamburger span:nth-child(2) {
	margin-top: 11px;
}

.cross1-active {
	transform: rotate(45deg);
}

.cross2-active {
	transform: rotate(-45deg);
	margin-top: 0 !important;
}
.hamburger span {
	height: 1px;
	width: 20px;
	background-color: var(--ecriture);
	transition: 0.5s;
}

.top {
	width: 100%;
	height: 70px;
	background-color: var(--box) !important;
	position: fixed;
	top: 0;
	z-index: 1;
	transform: translateY(-110%);
	transition: 0.5s;
}

.nav {
	position: fixed;
	top: 0;
	background: var(--box);
	width: 100%;
	height: 100vh;
	z-index: 30;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(-110vw);
	transition: 0.5s;
}

.nav ul {
	color: var(--ecriture);
}

.nav ul li {
	padding: 5px 10px;
	border-radius: 15px;
	text-align: center;
	transition: 0.5s;
	cursor: pointer;
	font-size: 25px;
	text-transform: uppercase;
}

.nav ul li a {
	text-decoration: none;
	color: var(--ecriture);
}

.nav ul li:hover {
	background: var(--ecriture);
	color: var(--box);
}

.nav ul li:not(:nth-child(1)) {
	margin-top: 35px;
}

.nav-active {
	transform: translateX(0vw);
}

.box {
	background: var(--box);
}

.message.is-dark .message-body {
	border-color: var(--ecriture);
}

.message.is-dark {
	background-color: var(--box);
}
.message-body {
	border-color: #dbdbdb;
	color: var(--ecriture);
	box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}
.footer {
	background-color: rgba(0, 0, 255, 0);
	padding: 3rem 1.5rem 6rem;
	transition: all 0.7s;
}

strong {
	color: var(--ecriture);
}

p a {
	color: rgb(255, 94, 0);
	text-decoration: underline;
}
p a:hover {
	color: orange;
}

.card {
	width: 30%;
	min-width: 300px;
}

.card {
	background-color: var(--box);
	color: var(--ecriture);
	margin: 10px;
}
.imgThemeMode {
	filter: invert(100%);
}
.content-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card-image {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}
