html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	background-color: var(--fond);
	position: relative;
	transition: all 0.5s;
}

.title {
	color: var(--ecriture);
	z-index: 50;
}
.name {
	position: fixed;
	top: 15px;
	left: 15px;
}

.btn-toggle {
	position: fixed;
	top: 15px;
	right: 15px;
	cursor: pointer;
	z-index: 10;
	color: var(--ecriture);
	padding: 5px;
	border: inset 2px var(--ecriture);
	border-radius: 50%;
}
.hamburger1 {
	z-index: 50;
}
.hamburger {
	position: fixed;
	top: 16px;
	right: 65px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	transition: 0.5s;
	width: 30px;
	height: 30px;
	padding: 5px;
}
.hamburger span {
	height: 1px;
	width: 20px;
	background-color: var(--ecriture);
	transition: 0.5s;
}
.hamburger span:nth-child(2) {
	margin-top: 11px;
}

.cross1-active {
	transform: rotate(45deg);
}

.cross2-active {
	transform: rotate(-45deg);
	margin-top: 0 !important;
}
.hamburger span {
	height: 1px;
	width: 20px;
	background-color: var(--ecriture);
	transition: 0.5s;
}

.container_own {
	width: 100%;
	min-height: 100vh;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.container_own .card_own {
	position: relative;
	width: 350px;
	height: 250px;
	margin: 20px;
	cursor: pointer;
}

.container_own .card_own .face {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.5s;
}

.container_own .card_own .face.face1 {
	background: var(--box);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform-origin: bottom;
}

.container_own .card_own .face.face1 img {
	max-width: 100px;
}

.imgThemeMode {
	filter: invert(100%);
}

.container_own .card_own .face.face1 h3 {
	margin: 10px 0 0;
	color: var(--ecriture);
	text-align: center;
	font-size: 1.5em;
}

.container_own .card_own:hover .face.face1 {
	transform: translateY(-100%) rotateX(90deg);
	background: #ff0057;
}

.container_own .card_own .face.face2 {
	background: var(--ecriture);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	transform-origin: top;
	transform: translateY(100%) rotateX(90deg);
}

.content p {
	color: var(--box);
}

.container_own .card_own:hover .face.face2 {
	transform: translateY(0%) rotateX(0deg);
}

.nav {
	position: fixed;
	top: 0;
	background: var(--box);
	width: 100%;
	height: 100vh;
	z-index: 30;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(-110vw);
	transition: 0.5s;
}

.nav ul {
	color: var(--ecriture);
}

.nav ul li {
	padding: 5px 10px;
	border-radius: 15px;
	text-align: center;
	transition: 0.5s;
	cursor: pointer;
}

.nav ul li:hover {
	background: var(--ecriture);
	color: var(--box);
}

.nav ul li:not(:nth-child(1)) {
	margin-top: 35px;
}

.nav-active {
	transform: translateX(0vw);
}
