body {
	min-height: 100vh;
	background-color: var(--fond);
}
.container_own {
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.container_own .card_own {
	position: relative;
	width: 300px;
	height: 200px;
	margin: 20px;
	border-radius: 5px;
	cursor: pointer;
}

.container_own .card_own .face {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.5s;
}

.container_own .card_own .face.face1 {
	background: var(--box);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform-origin: bottom;
}

.container_own .card_own .face.face1 img {
	max-width: 100px;
}

.imgThemeMode {
	filter: invert(100%);
}

.container_own .card_own .face.face1 h3 {
	margin: 10px 0 0;
	color: var(--ecriture);
	text-align: center;
	font-size: 1.5em;
}

.container_own .card_own:hover .face.face1 {
	transform: translateY(-100%) rotateX(90deg);
	background: #ff0057;
}

.container_own .card_own .face.face2 {
	background: var(--ecriture);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	transform-origin: top;
	transform: translateY(100%) rotateX(90deg);
}

.content p {
	color: var(--box);
}

.container_own .card_own:hover .face.face2 {
	transform: translateY(0%) rotateX(0deg);
}
